table, td {
  border: 5px solid black;
  margin: auto;
}

td{
  width:100px;
  height:100px;
  text-align: center;
  background-color: #66ffcc;
}

#button {
  margin-top: 10px;
  text-align: center;
}

#restart {
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
}

#restart:hover {
  background-color: #f0f0f5;
}

#timer {
  text-align: center;
}
